<div class="stage" overflow-scroll="true">
    <ion-list class="list">
        <ul ng-repeat="(key, value) in view.artists | groupBy: 'stage_name'">
            <li class="item-divider">
                <p>{{key}}</p>
            </li>
            <li class="item" ng-repeat="artist in value  | orderBy:'schedule'"  ng-if="(artist.schedule | parseDate: 'd') == view.show_day ">
                <div class="left" ng-click="showDetail({{artist.id}})">
                    <img src="img/artist/icon.png" ng-src="{{view.server_image}}artists/{{artist.id}}/100/{{artist.image_profile}}"  class="artist-cover">
                </div>
                <div class="center" ng-click="showDetail({{artist.id}})">
                    <p class="artist-name">{{artist.name|cleanName}}</p>
                    <p class="time"><i class="ion-clock"></i>&nbsp;{{artist.schedule | parseDate: 'HH:mm'}}</p>
                    <p class="stage-name"><i class="ion-location"></i>&nbsp;{{artist.stage_name}}</p>
                </div>
                <div class="right">
                    <favorite artist="artist"/>
                </div>
            </li>
        </ul>
    </ion-list>
</div>