<div class="row" scroll="true">
    <ion-list class="list">
        <ion-item>
            <div class="left">
                <img ng-src="http://placehold.it/80x80" class="artist-cover">
            </div>
            <div class="center">
                <p class="artist-name">Perros</p>
                <p class="time"> <i class="ion-clock"> </i> 18:00 - 29:00</p>
                <p class="stage-name"> <i class="ion-location"> Escenario Central</i></p>
            </div>
            <div class="right">
                <img src="img/favorite/on.png">
            </div>
        </ion-item>
        <ion-item>
            <div class="left">
                <img ng-src="http://placehold.it/80x80" class="artist-cover">
            </div>
            <div class="center">
                <p class="artist-name">Hurts</p>
                <p class="time"> <i class="ion-clock"> </i> 21:00 - 22:00</p>
                <p class="stage-name"> <i class="ion-location"> Escenario Coolway</i></p>
            </div>
            <div class="right">
                <img src="img/favorite/off.png">
            </div>
        </ion-item>
    </ion-list>
</div>