<ion-view>
    <ion-content has-bouncing="true" class="bg-dark schedule">
        <div class="row subtitle filter" ng-if="view.scheduleActive">
            <div class="col col-100">
                <div class="days">
                    <button class="button button-clear" ng-click="setDay(8,'2017-06-08 00:00','2017-06-09 06:00')" ng-class="{'active': view.show_day  == 8}">
                        <img src="img/schedule/8.png">
                    </button>
                    <button class="button button-clear" ng-click="setDay(9,'2017-06-09 08:00','2017-06-10 06:00')" ng-class="{'active': view.show_day  == 9}">
                        <img src="img/schedule/9.png">
                    </button>
                    <button class="button button-clear" ng-click="setDay(10,'2017-06-10 08:00','2017-06-11 06:00')" ng-class="{'active': view.show_day  == 10}">
                        <img src="img/schedule/10.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="row filters" ng-if="view.scheduleActive && view.ready">
            <div class="col col-50" ng-class="{'active': view.show_list  === 'time'}" ng-click="view.show_list = 'time';">
                <div class="time filter">
                    <button class="button button-clear">
                        Por hora
                    </button>
                </div>
            </div>
            <div class="col col-50" ng-class="{'active': view.show_list  === 'stage'}" ng-click="view.show_list = 'stage';">
                <div class="stage filter">
                    <button class="button button-clear">
                        Por escenario
                    </button>
                </div>
            </div>
        </div>
        <div overflow-scroll="false" ng-if="!view.scheduleActive && view.ready" class="coming-soon">
            <img src="img/coolway/coming_soon.png">
        </div>
        <div ng-include="'templates/schedule/by-time.html'" ng-if="view.show_list == 'time' && view.scheduleActive"></div>
        <div ng-include="'templates/schedule/by-stage.html'" ng-if="view.show_list == 'stage' && view.scheduleActive" ></div>
    </ion-content>
</ion-view>