<ion-view>
    <ion-content has-bouncing="true" class="bg-dark schedule">
        <div class="row subtitle filter" ng-if="view.scheduleActive">
            <div class="col col-100">
                <div class="days">
                    <button class="button button-clear" ng-click="setDay(19,'2017-05-19 00:00','2017-05-20 08:00')" ng-class="{'active': view.show_day  == 19}">
                        <img src="img/schedule/19.png">
                    </button>
                    <button class="button button-clear" ng-click="setDay(20,'2017-05-20 10:00','2017-05-21 10:00')" ng-class="{'active': view.show_day  == 20}">
                        <img src="img/schedule/20.png">
                    </button>
                </div>
            </div>
        </div>
        <div class="row filters" ng-if="view.scheduleActive && view.ready">
            <div class="col col-50" ng-class="{'active': view.show_list  === 'time'}" ng-click="view.show_list = 'time';">
                <div class="time filter">
                    <button class="button button-clear">
                        Por hora
                    </button>
                </div>
            </div>
            <div class="col col-50" ng-class="{'active': view.show_list  === 'stage'}" ng-click="view.show_list = 'stage';">
                <div class="stage filter">
                    <button class="button button-clear">
                        Por escenario
                    </button>
                </div>
            </div>
        </div>
        <div ng-include="'templates/schedule/by-time.html'" ng-if="view.show_list == 'time' && view.scheduleActive"></div>
        <div ng-include="'templates/schedule/by-stage.html'" ng-if="view.show_list == 'stage' && view.scheduleActive" ></div>
    </ion-content>
    <div ng-if="!view.scheduleActive && view.ready" class="coming-soon">
        <img src="img/coolway/coming_soon.png" width="100%">
    </div>
</ion-view>