<ion-view>
    <div ng-if="view.favorites.length > 0">
        <ion-list>
            <ion-item nav-clear class="item-icon-left" ng-repeat="favorite in view.favorites" href="#/app/tab/journal/{{friend.user.username}}" ng-click="conf.current = friend.user.username">
                <img class="icon menu-icon-avatar" ng-src="{{favorite.name}}">{{favorite.name}}
            </ion-item>
        </ion-list>
    </div>
    <div ng-if="!view.favorites.length">
        <ion-content class="not-found" scroll="false">
            <div class="image">
                <img src="img/favorite/off.png">
            </div>
            <div class="text">
                <p>Aún no tienes favoritos</p>
                <small>Añadelos con los botones de corazón en el listado de artistas o en los horarios.</small>
            </div>
        </ion-content>
    </div>
</ion-view>