<ion-view overflow-scroll="true">
    <div ng-if="view.favorites.length > 0">
        <ion-list class="list">
            <ion-item ng-repeat="item in view.favorites | orderBy:'schedule'" overflow-scroll="true"  menu-close ng-click="showArtistDetail({{item.id}})">
                <div class="left" ng-click="showDetail({{item.id}})">
                    <img ng-src="{{view.server_image}}artists/{{item.id}}/100/{{item.image_profile}}"  class="artist-cover">
                </div>
                <div class="center" ng-click="showDetail({{item.id}})">
                    <p class="artist-name">{{item.name|cleanName| uppercase}}</p>
                    <p class="time">
                        <span ng-if="view.scheduleActive"><i class="ion-clock"></i>&nbsp;{{item.schedule | parseDate: 'HH:mm'}}</span>
                        <span ng-if="!view.scheduleActive">&nbsp;</span>
                    </p>
                    <p class="stage-name">
                        <span ng-if="view.scheduleActive"><i class="ion-location"></i>&nbsp;{{item.stage_name}}</span>
                        <span ng-if="!view.scheduleActive">&nbsp;</span>
                    </p>
                </div>
                <!--<div class="right">-->
                    <!--<img src="img/favorite/on.png">-->
                <!--</div>-->
            </ion-item>
        </ion-list>
    </div>
    <div ng-if="!view.favorites.length">
        <div class="not-found" scroll="false">
            <div class="image">
                <img src="img/favorite/not-found.png">
            </div>
            <div class="text">
                <p>Aún no tienes favoritos</p>
                <small>Añadelos con los botones de corazón en el listado de artistas o en los horarios.</small>
            </div>
        </div>
    </div>
</ion-view>