<ion-modal-view class="login">
    <ion-header-bar class="login-header" scroll="false">
        <div class="row header-tabs" scroll="false">
            <div class="left" ng-class="{'active': view.show  === 'sign_in'}">
                <button class="button button-clear btn-action" ng-click="view.show = 'sign_in';">
                    Entrar
                </button>
            </div>
            <div class="right" ng-class="{'active': view.show  === 'sign_up'}">
                <button class="button button-clear btn-action" ng-click="view.show = 'sign_up';">
                    Registrarse
                </button>
            </div>
        </div>
    </ion-header-bar>
    <div class="sign-in" ng-show="view.show === 'sign_in'" ng-include="'templates/user/sign_in.html'"></div>
    <div class="sign-up" ng-show="view.show === 'sign_up'" ng-include="'templates/user/sign_up.html'"></div>
</ion-modal-view>