<ion-view>
    <!--<ion-content ng-if="view.notifications.length > 0">-->
        <!--<ion-list>-->
            <!--<ion-item nav-clear class="item-icon-left" collection-repeat="notification in view.notifications" href="#/app/tab/journal/{{friend.user.username}}" ng-click="conf.current = friend.user.username" ng-class="{active: friend.user.username == conf.current}">-->
                <!--<img class="icon menu-icon-avatar" ng-src="{{notification.name}}">{{notification.name}}</ion-item>-->
        <!--</ion-list>-->
    <!--</ion-content>-->
</ion-view>