<ion-content class="login-content" scroll="false">
    <div>
        <div class="form">
            <div class="field">
                <div class="icon-field">
                    <img src="img/login/icon/email.png">
                </div>
                <input ng-model="view.user.email" type="email" placeholder="Correo electrónico" name="email" required>
            </div>
            <button class="button button-light" style="width: 100%; margin-top:20px; color: #ffffff; background-color: #000000" ng-click="recoverPassword()">Recuperar contraseña</button>
        </div>

    </div>


</ion-content>