<ion-view>
    <ion-content has-bouncing="false" overflow-scroll="false">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">E-Mail</span>
                <input ng-model="data.email" type="email">
            </label>
            <label class="item item-input">
                <span class="input-label">Contraseña</span>
                <input ng-model="data.password" type="password">
            </label>
            <label class="item item-input">
                <span class="input-label">Confirmar</span>
                <input ng-model="data.repassword" type="password">
            </label>

            <div class="item">
                <div class="row">
                    <div class="col-1">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="data.privacy_police">
                        </label>
                    </div>
                    <div class="col">
                        <a ui-sref="terms.privacy_police"
                           style="text-decoration: none; color: black; vertical-align: sub;">
                            He leido y acepto la política de <br>
                            privacidad
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button ng-click="signUp()" ng-disabled="!data.privacy_police || !data.email || !data.password"
                        class="button button-full entrar">Crear
                    Cuenta
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>