<ion-modal-view class="modal-settings">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeSettings()">Cerrar</button>
        </div>
        <div class="logo">
            <img src="img/festival_arts.png">
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">Notificaciones</ion-item>
        </ion-list>
        <div class="list input-list">
            <ion-toggle toggle-class="toggle-light" name="Notificaciones">Activar</ion-toggle>
        </div>
        <ion-list class="input-list">
            <ion-item class="item-divider item-title">Contraseña</ion-item>
            <label class="item item-input">
                <span class="input-label">Actual contraseña</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Nueva contraseña</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Repetir contraseña</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <button class="button button-stable button-100">Actualizar</button>
            </label>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider">Cuenta</ion-item>
        </ion-list>
        <div class="list input-list">
            <button class="button button-stable button-100">Cerrar sesi&oacute;n</button>
        </div>
</ion-modal-view>