<ion-view>
    <ion-content overflow-scroll="true" class="sponsor">
        <div class="row filters" scroll="false">
            <div class="col col-100">
                <h3>PATROCINADORES</h3>
            </div>
        </div>
        <div class="row subtitle">
            <div class="col col-100">
                <p>Patrocinadores</p>
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/das.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/desperados.png">
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/negrita.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/inside.png">
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/redbull.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/hawkers.png">
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/underwood.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/puma.png">
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/coolway.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/blablacar.png">
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/monbus.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/control.png">
            </div>
        </div>
        <div class="row subtitle">
            <div class="col col-100">
                <p>Instituciones Públicas</p>
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/ayuntamiento.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/logo_cv.png">
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/castellon.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/mediterranew.png">
            </div>
        </div>
        <div class="row subtitle">
            <div class="col col-100">
                <p>Medio Oficial</p>
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/logo_ocimag.png">
            </div>
            <div class="col col-50">
                <br>
            </div>
        </div>
        <div class="row subtitle">
            <div class="col col-100">
                <p>Medios Colaboradores</p>
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/logomondo.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/radio3.png">
            </div>
        </div>
        <div class="row subtitle">
            <div class="col col-100">
                <p>Colaboradores</p>
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/stracto.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/unfestivalxdentro.png">
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/defestivales_logo.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/logo_glamping.png">
            </div>
        </div>
    </ion-content>
</ion-view>