<ion-view>
    <ion-content overflow-scroll="true" class="sponsor">
        <div class="row filters" scroll="false">
            <div class="col col-100">
                <h3>Patrocinadores</h3>
            </div>
        </div>
        <div class="row subtitle">
            <div class="col col-100">
                <p>Patrocinadores</p>
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/negrita.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/das.png">
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/redbull.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/underwood.png">
            </div>
        </div>

        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/villa.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/coolway.png">
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/coolway.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/freedom.png">
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/monbus.png">
            </div>
            <div class="col col-50">
                <img ng-src="img/sponsor/blablacar.png">
            </div>
        </div>
        <div class="row subtitle">
            <div class="col col-100">
                <p>Medios Oficiales</p>
            </div>
        </div>
        <div class="row images">
            <div class="col col-50">
                <img ng-src="img/sponsor/radio3.png">
            </div>
            <div class="col col-50">
                <br>
            </div>
        </div>
        <div class="row subtitle">
            <div class="col col-100">
                <p>Colaborador</p>
            </div>
        </div>
        <div class="row images">
            <div class="col col-100">
                <img ng-src="img/sponsor/reggae.png">
            </div>
        </div>
    </ion-content>
</ion-view>