<div class="footer" ng-controller="PlayerController">
    <div class="row">
        <div class="left">
            <img ng-src="img/coolway/social-network/spotify_.png">
        </div>
        <div class="center">
            <button class="button button-clear" ng-click="openPlayer()">
                Escuche la lista de reproducción del festival
            </button>
        </div>
        <div class="right">
            <button class="button button-clear btn-action"  ng-click="playTrack(artist)">
                <img ng-src="img/player/play.png">
            </button>
        </div>
    </div>
</div>
