<ion-view>
    <ion-content has-bouncing="true">
        <div class="powered-by">
            <img src="img/menu/coolway_powered.png">
        </div>
        <div class="temperature" ng-show="view.weathers.length" ng-init="getWeather()">
            <img ng-src="img/weather/{{view.weathers[0].condition_day}}.png" class="condition">
            <p>{{ ( (view.weathers[0].min_temp + view.weathers[0].max_temp) / 2 ) | number:0}} &deg;</p>
        </div>
        <div class="header-left-menu" menu-close ui-sref="menu.artist-discover">
            <br>
        </div>

        <button class="button button-clear category" menu-close ui-sref="menu.artist-list">
            <img src="img/menu/category/transparent.gif">
            <a>ARTISTAS</a>
        </button>
        <button class="button button-clear category" menu-close ui-sref="menu.poster">
            <img src="img/menu/category/transparent.gif">
            <a>CARTEL</a>
        </button>
        <button class="button button-clear category" menu-close ui-sref="menu.schedule">
            <img src="img/menu/category/transparent.gif">
            <a>HORARIOS</a>
        </button>
        <button class="button button-clear category" menu-close ui-sref="menu.map">
            <img src="img/menu/category/transparent.gif">
            <a>MAPAS</a>
        </button>
        <button class="button button-clear category" menu-close ui-sref="menu.ticket" >
            <img src="img/menu/category/transparent.gif">
            <a>ENTRADAS</a>
        </button>
        <button class="button button-clear category" menu-close ui-sref="menu.foodies">
            <img src="img/menu/category/transparent.gif">
            <a>FOODIES</a>
        </button>
        <button class="button button-clear category" menu-close ui-sref="menu.info">
            <img src="img/menu/category/transparent.gif">
            <a>INFO</a>
        </button>
        <button class="button button-clear category" menu-close ui-sref="menu.social">
            <img src="img/menu/category/transparent.gif">
            <a>SOCIAL</a>
        </button>
        <!--<button class="button button-clear category" menu-close ui-sref="menu.coolway">-->
            <!--<img src="img/menu/category/coolway.png">-->
            <!--<a>COOLWAY</a>-->
        <!--</button>-->

        <div class="footer-left-menu">
            <!--<img src="img/menu/the_night_time.png">-->
        </div>
    </ion-content>
</ion-view>