<ion-view>
    <ion-content has-bouncing="true">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Discover</h2>
            </div>
        </div>
        <div class="row row-stick" ng-repeat="tracks in view.tracks">
            <div class="col col-50 col-stick" ng-repeat="track in tracks">
                <img ng-src="http://placehold.it/100x100" width="100%" />
                <span class="ion-play" ng-click="playTrack(track)"></span>
            </div>
        </div>
    </ion-content>
</ion-view>