<ion-view>
    <ion-content has-bouncing="false" class="discover">
        <div class="row subtitle filter" scroll="false" ng-if="view.currentDate < view.feastDate">
            <div class="col col-100">
                <div class="left">
                    <br>
                </div>
                <div class="center">
                    <span countdown date='April 28, 2017 00:00:00'>&nbsp Cargando... </span>
                </div>
                <div class="right">
                    <br>
                </div>

            </div>
        </div>
        <div class="row row-stick unlimited-items" scroll="true" ng-show="view.ready">
            <div class="col col-stick" ng-repeat="item in view.artists | orderBy:'-schedule' ">
                <img ng-click="showDetail(item.id)" err-SRC="img/artist/icon.jpg" ng-src="{{view.server_image}}artists/{{item.id}}/200/{{item.image_profile}}" width="100%" alt="item.name" />
                <button class="button button-clear btn-action" ng-if="item.spotify_id.length || (view.isPause && view.currentTrack.spotify_id != item.spotify_id && !view.loader)" ng-click="playTrack(item)">
                    <img ng-src="img/player/play.jpg">
                </button>
                <button class="button button-clear btn-action" ng-if="view.isPlaying && view.currentTrack.spotify_id == item.spotify_id && !view.loader" ng-click="pauseTrack()">
                    <img ng-src="img/player/pause.jpg">
                </button>
                <div class="legend">
                    <p>{{item.name|cleanName}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>