<ion-view>
    <ion-content has-bouncing="true" class="coolway" scroll="false">
        <div class="header">
            <div class="row">
                <div class="col col-100 logo">
                    <img src="img/coolway/coolway.png">
                </div>
            </div>
            <div class="row">
                <div class="col left">
                    <img src="img/coolway/left.png">
                </div>
                <div class="col center">
                    <img src="img/coolway/night_time.png">
                </div>
                <div class="col right">
                    <img src="img/coolway/right.png">
                </div>
            </div>
            <div class="row">
                <div class="col col-100 social-network">
                    <a class="social">
                        <img src="img/coolway/social-network/facebook.png">
                    </a>
                    <a class="social center">
                        <img src="img/coolway/social-network/twitter.png">
                    </a>
                    <a class="social">
                        <img src="img/coolway/social-network/instagram.png">
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>