<ion-view>
    <ion-content has-bouncing="false" class="artist-detail" ng-show="view.ready">
        <div class="header" scroll="false">
            <div class="picture">
                <img ng-src="{{view.server_image}}foodies/{{view.foodie.id}}/cover/{{view.foodie.image_cover}}">
            </div>
            <div class="legend">
                <p>{{view.foodie.name|cleanName}}</p>
            </div>
        </div>
        <div class="row body">
            <div class="col col-100">
                <p class="description">
                    {{view.foodie.description}}
                </p>
                <hr>
                <p class="social-title" ng-if="view.foodie.facebook.length || view.foodie.twitter.length || view.foodie.instagram.length || view.foodie.youtube.length">Social</p>
                <div class="social">
                    <img src="img/coolway/social-network/facebook.png" ng-if="view.foodie.facebook.length" ng-click="openLink('{{view.foodie.facebook}}')">
                    <img src="img/coolway/social-network/twitter.png" ng-if="view.foodie.twitter.length" ng-click="openLink('{{view.foodie.twitter}}')">
                    <img src="img/coolway/social-network/instagram.png" ng-if="view.foodie.instagram.length" ng-click="openLink('{{view.foodie.instagram}}')">
                    <img src="img/coolway/social-network/youtube.png" ng-if="view.foodie.youtube.length">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>