<ion-view>
    <ion-content has-bouncing="true">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Coolway</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-100">
                <!--<iframe frameborder="0" width="480" height="270"-->
                        <!--src="//www.dailymotion.com/embed/video/x3b41ua_festival-de-les-arts-2015-video-oficial_music?autoplay=1&mute=1"-->
                        <!--allowfullscreen></iframe>-->
                <iframe frameborder="0" width="355" height="450"
                        src="//www.dailymotion.com/embed/video/x3b41ua_festival-de-les-arts-2015-video-oficial_music?autoplay=1&mute=1"
                        allowfullscreen></iframe>
            </div>
            <div>
    </ion-content>
</ion-view>