<ion-view>
    <ion-content class="precinct-map" overflow-scroll="false" scroll="false">
            <a class="my-location" ng-click="showMyLocation();" title="Mi ubicación" ng-if="view.ready && mapData.image!==undefined">
                <img src="img/map/my_location.png">
            </a>
        <div id="map" data-tap-disabled="true" scroll="false"></div>
    </ion-content>
    <div ng-if="mapData.image==undefined && view.ready" class="coming-soon">
        <img src="img/coolway/coming_soon.png" width="100%">
    </div>
</ion-view>