@font-face {
    font-family: 'Ruina';
    src: url("../lib/ionic/fonts/Ruina.eot");
    src: url("../lib/ionic/fonts/Ruina.eot")
    format("embedded-opentype"),
    url("../lib/ionic/fonts/Ruina.woff") format("woff"),
    url("../lib/ionic/fonts/Ruina.ttf") format("truetype"),
    url("../lib/ionic/fonts/Ruina.svg") format("svg");
}

.bar{
    background-image: none !important;
    border-bottom: none !important;
}

.nav-bar-block, .bar-footer{
    background-color: #0A0A20 !important;
}

.bar-header{
    position: static !important;
    height: 50px !important;
}


.logo{
    width: 100%;
    text-align: center;
    margin-top: 2px;
}

.logo img{
    height : 44px;
}

.menu-button{
    height: 30px;
    margin-top:5px;
}

.buttons-left:hover, .buttons-right:hover{
    opacity: 0.8;
}

.row-stick , .col-stick{
    padding: 0 !important;
}

.col-stick{
    position: relative !important;
}

.col-stick span {
    position:absolute;
    top: 2%;
    left: 80%;
    width: 100%;
    height: 100%;
    z-index: 100;
    color: #fff;
    font-size: 25px;
}

.tabs-top>.tabs, .tabs.tabs-top{
    top: 1px !important;
}

.menu{
    font-family: Ruina, sans-serif  !important;
}

.menu-left .pane{
    background-image: url('../img/menu/background.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.menu-left .powered-by{
    float : left;
    display: inline-block;
}

.menu-left .powered-by img{
    height : 100px;
}

.menu-left .header-left-menu{
    display: inline-block;
    margin-top: -60px;
    margin-bottom: 10px;
}

.menu-left .header-left-menu,.footer-left-menu {
    width: 100%;
    height: auto;
    text-align: center;
}

.footer-left-menu {
    margin-top: 25px;
}

.menu-left .header-left-menu img{
    width : 100%;
    padding: 0px 25px;
}

.menu-left .footer-left-menu img{
    width: 125px;
    vertical-align: middle;
}

.menu-left .footer-left-menu{
    color: #ffffff;
}

.sidebar-right .button-clear, .category{
    display: block !important;
}

.categories li{
    margin:25px;
}

.category img{
    height: 40px;
    margin-left: 45px;
    vertical-align: middle;
}

.category a{
    width:800px;
    margin:10px auto;
    text-align:left;
    color: #ffffff;
    font-family: Ruina, sans-serif  !important;
    font-size: 18px;
    text-decoration: none;
}

.category a:hover{
    opacity: 0.8;
}

.header-right-menu{
    background-color: #0A0A20 !important;
}

.header-right-menu img{
    height: 35px;
}

.sidebar-right .menu-tabs{
    background-color: #FFA700 !important;
}

.sidebar-right .tab-item{
    margin-top: 18px !important;
    font-family: Ruina, sans-serif  !important;
    color: #ffffff !important;
    font-size: 14px !important;
}

.sidebar-right .active{
    text-decoration: underline;
}

.sidebar-right .tab-image{
    max-width: 30px !important;
    margin: 13px !important;
}

.sidebar-right .tab-image img{
    height: 20px;
}

.menu-right .pane{
    background-color: #04041B !important;
}

.menu-right .favorites .pane, .menu-right .notifications .pane{
    margin-top: 100px !important;
}

.menu-right .favorites .not-found img {
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20%;
    width: 250px;
    transform: translateY(-50%);
}

.menu-right .favorites .item-content{
    background-color: #04041B !important;
    color: #ffffff;
    border: none !important;
}

.subtitle{
    background-color: #FFA700 !important;
    position: static !important;
    height: 65px !important;
    text-align: center;
}

.subtitle .center{
    padding: 30px;
}

.subtitle .left, .subtitle .center, .subtitle .right, .subtitle .landscape, .subtitle .days{
    display: inline;
    width: auto;
}

.subtitle .left img, .subtitle .right img{
    height: 46px;
    vertical-align: middle;
}

.subtitle .landscape{
    padding: 20px;
}

.subtitle .days img{
    height: 50px;
    vertical-align: middle;
    padding: 5px;
}

.subtitle .landscape img{
    height: 25px;
    vertical-align: middle;
}

.filters{
    background-color: #008D61 !important;
    position: static !important;
    height: 50px !important;
    padding: 0px !important;
    width: 100% !important;
}

.filters .filter{
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff !important;
}

.filters .filter button{
    color: #ffffff !important;
    margin-top: -4px !important;
}

.filters .active .filter button{
    color: #ffffff !important;
    font-weight: bold !important;
    margin-top: -5px !important;
}


.filters .active{
    border-style: solid;
    border-bottom: 4px solid #fff;
    width: 100%;
    height: 50px;
}


.list{
    width: 350px;
    margin: 5px;
}

.list .item{
    color: #04041B;
    background-color: #F5E5C1 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #04041B;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.list .left, .list .center, .list .right{
    display: inline-block;
    width: auto;
}

.list .left{
    background-color: #FFA700 !important;
    width:80px;
    height:80px;
}

.list .center{
    margin-left: 10px;
}

.list .right{
    position: absolute;
    margin: 20px 90px;
}

.list .artist-cover{
    height: 80px;
    max-height: 80px;
}

.list .artist-name{
    font-family: Ruina, sans-serif  !important;
    color: #04041B !important;
    font-size: 20px;
}

.list .time, .list .stage-name{
    color: #04041B;
}

.list .right img{
    height: 40px;
}

.coolway .header{
    background-color: #333333 !important;
}

.coolway .logo img{
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.coolway .left img, .coolway .center img, .coolway .right img, .coolway .social img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.coolway .left img, .coolway .right img{
    height: 35px;
    margin-top: 20px;
}

.coolway .center img{
    height: 80px;
}

.coolway .social img{
    height: 37px;
    display: inline-block;
}
.coolway .social-network{
     text-align: center;
}

.coolway .social-network .center{
    margin: 0px 10px;
}

.artist .button.button-icon.input-button {
    position: absolute;
    right: 8px;
    top: 3px;
    color: #bbb;
}

.artist .filter{
    position: static !important;
}

.artist .list, .artist .disable-user-behavior{
    padding: 0px !important;
    margin: 0px !important;
    z-index: 20 !important;
    width: 100%;
}

.artist .item img {
    height: 80px;
    width: 80px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.artist .my-item.item {
    padding-top: 0;
    padding-bottom: 0;
}

.artist .my-item.item p{
    font-family: Ruina, sans-serif  !important;
    color: #04041B;
    font-size:18px;
    display: inline-block;
}

.artist .subtitle{
    height: 50px !important;
}

.artist .full-width {
    width: 97%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
}

.artist .listed{
    background-color: #F5E5C1 !important;
}

.artist .list .item{
    background-color: #F5E5C1 !important;
    border-style: solid;
    border-top: 1px solid #04041B !important;
    margin: 0px 5px;
    height: 100px;
    max-height: 100px;
}

.artist .list .item-divider{
    background-color: #008D61 !important;
    border-style: none !important;
    border-top: none !important;
    margin: 0px !important;
    vertical-align: middle;
    padding: 4px;
    max-height: 20px !important;
    cursor: default !important;
}

.artist .list .item-divider p{
    margin-left: 5px;
    color: #ffffff;
    font-size: 12px;
    font-family: sans-serif !important;
}

.artist .list .favorite{
    margin-top: 20px;
    float: right;
    display: inline-block;
    left:20px;
}

.artist .list .favorite img{
    height: 40px !important;
    width: 40px !important;
}

.artist-detail .header img{
    height: 250px;
    width: 100%;
}

.artist-detail .picture{
    position: absolute;
    z-index: 10 !important;
}

.artist-detail .legend{
    width:100% !important;
    height: 50px !important;
    position: absolute;
    margin-top: 200px;
    z-index: 12 !important;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(10,10,32,0.33) 20%, rgba(10,10,32,0.35) 21%, rgba(10,10,32,0.7) 43%) !important;
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(10,10,32,0.33) 20%,rgba(10,10,32,0.35) 21%,rgba(10,10,32,0.7) 43%) !important;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(10,10,32,0.33) 20%,rgba(10,10,32,0.35) 21%,rgba(10,10,32,0.7) 43%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b30a0a20',GradientType=0 ) !important;
}

.artist-detail .legend p{
    font-family: Ruina,sans-serif!important;
    font-size: 28px;
    display: inline-block;
    float: left;
    margin: 18px 10px;
}

.artist-detail .legend img{
    float: right;
    height: 35px!important;
    width: 35px!important;
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
}

.artist-detail .body{
    height: auto;
    width: 100%;
    font-family: sans-serif  !important;
    color: #04041B;
    background-color: #F5E5C1 !important;
    position: absolute;
    display: block;
    margin-top: 250px;
    margin-bottom: 50px;
}

.artist-detail .body .date{
    font-size: 18px;
    font-weight: bold;
    margin-bottom:0 !important;
}

.artist-detail .body .time, .artist-detail .body .stage-name, .artist-detail .body .description{
    font-size: 12px;
    margin-bottom:0 !important;
}

.artist-detail .body .listen{
    height: 50px;
    width: 100%;
    padding: 0 !important;
    margin-top:10px !important;
}

.artist-detail .body .listen img{
    height: 35px!important;
    width: 35px!important;
    display: inline-block;
    margin-right: 5px;
    float: left;
    vertical-align: middle;
}

.artist-detail .body .listen p{
    font-family: sans-serif!important;
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
    color: #04041B;
    float:left;
    vertical-align: middle;
}

.artist-detail .body .social-title{
    font-family:  Ruina,sans-serif!important;
    font-size: 28px;
    display: block;
    color: #04041B;
    float:left;
    width: 100%;
    margin-top:10px;
}

.artist-detail .body .social img{
    height: 40px!important;
    width:  auto !important;
    display: inline-block;
    margin-right: 15px;
    float: left;
    vertical-align: middle;
}